{
    "env": {
        "browser": true
    },
    "extends": "eslint:recommended",
    "rules": {
        "indent": ["error", 2],
        "linebreak-style": ["error", "unix"],
        "no-redeclare": off,
        "quotes": ["error", "single"],
        "semi": ["error", "never"]
    },
    "globals": {
        "window": true,
        "module": true,
        "LenaJS": true
    }
}
