body {
    background: url(../img/bg.jpg) repeat 0 0 #000;
    color: #ccc;
    font-family: "Helvetica Neue";
    text-transform: uppercase;
    text-align: center;
}

h1 {
    font-size: 45px;
    margin-bottom: 0px;
    line-height: 40px;
}

h2 {
    font-size: 12px;
}

.demo-container {
    width: 1040px;
    margin: 40px auto;
    font-size: 0;
    text-align: center;
    position: relative;
}

.filter {
    padding: 5px;
    margin: 10px 0;
}

.image-default {
    display: block;
    margin: auto;
}

.image-canvas {
    left: 50%;
    margin-left: -200px;
    position: absolute;
    top: 0;
}

.chart {
    height: 280px;
    margin-top:20px;
    display: block;
    min-width: 100px;
    min-height: 100px;
}

.colors {
    margin: 0;
    padding: 0;
    text-align: center;
    width: 440px;
    display: inline-block;
}

.color {
    border: 5px solid rgba(255, 255, 255, .05);
    border-radius: 5px;
    cursor: pointer;
    display: inline-block;
    margin: 5px;
    height: 50px;
    width: 50px;
}

.info {
    width: 50%;
    display: inline-block;
}

.container {
    font-size: 10px;
    left: 50%;
    margin: 0 0 5px 225px;
    position: absolute;
}

.fb-likes {
    height: 100px;
    margin: 10px auto;
    text-align: center;
}