body {
    background: url(../img/bg.jpg) repeat 0 0 #000;
    color: #ccc;
    font-family: "Helvetica Neue";
    text-transform: uppercase;
    text-align: center;
}

h1 {
    font-size: 45px;
    margin-bottom: 0px;
    line-height: 40px;
}

h2 {
    font-size: 12px;
}

text {
    stroke: none; 
    fill: #666;
}

ul, li {
    list-style: none;
}

.demo-container {
    width: 1200px;
    margin: 15px auto 40px auto;
    font-size: 0;
    text-align: center;
    position: relative;
}

.filter {
    padding: 5px;
    margin: 10px 0 10px -15px;
    text-align: left;
    width: 1200px;
}

.image-default {
    display: block;
    margin: auto;
}

.image-canvas {
    left: 0;
    position: absolute;
    top: 0;
}

.chart {
    height: 280px;
    margin-top:20px;
    margin-left: 20px;
    display: block;
    min-width: 100px;
    min-height: 100px;
}

.info {
    width: 400px;
    position: absolute;
    right: 0;
    bottom: 100px;
    display: inline-block;
}

.container {
    font-size: 10px;
    left: 50%;
    margin: 0 0 5px 225px;
    position: absolute;
}

.fb-likes {
    height: 100px;
    margin: 10px auto;
    text-align: center;
}

.label-filters {
    background: #222;
    display: inline-block;
    padding: 5px 10px 6px;
}
.btn,
.btn:visited {
    background: #222;
    display: inline-block;
    padding: 5px 10px 6px;
    color: #fff;
    text-decoration: none;
    border-bottom: 1px solid rgba(0,0,0,0.25);
    position: relative;
    cursor: pointer;
    font-size: 12px;
    font-weight: bold;
}
.btn-filter {
    cursor: move;
}

#destination {
    border: 1px dashed #CCC;
    width: 398px;
    height: 398px;
    margin: 0 auto;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 10;
}

.btn,
.btn:visited {
    background-color: #a9014b;
}

.btn:hover {
    background-color: #630030;
}

.btn-reset,
.btn-drop {
    position: absolute;
    top: 360px;
    left: 15px;
}
.btn-reset {
    left: 235px;
    z-index: 20;
}
